$bronzeBg: #a25232;
$bronzeText: #fff;
$silverBg: #d3dcde;
$silverText: #8b8e95;
$goldBg: #c5918a;
$goldText: #4a4f4d;

.container {
  display: inline-block;
  height: 22px;
  overflow: hidden;
  font-family: 'SF Mono', 'Menlo', 'Monaco', Courier New, Courier, monospace;
  font-size: 0.9em;
  vertical-align: top;
  border: 1.7px solid;
  border-radius: 3px;

  &.bronze {
    background-color: $bronzeBg;

    .value {
      color: $bronzeText;
    }

    .stars {
      color: $bronzeBg;
    }

    border-color: $bronzeBg;
  }

  &.silver {
    background-color: $silverBg;

    .value {
      color: $silverText;
    }

    .stars {
      color: $silverBg;
    }

    border-color: $silverBg;
  }

  &.gold {
    background-color: $goldBg;

    .value {
      color: $goldText;
    }

    .stars {
      color: $goldBg;
    }

    border-color: $goldBg;
  }

  span {
    display: inline-block;
    height: 100%;
    padding: 0 3px;
    vertical-align: top;

    &:empty {
      padding: 0;
    }
  }

  .stars {
    display: inline-block;
    height: 100%;
    background-color: white;

    span {
      line-height: 1.3;
    }
  }
}
