$bronzeBg: #a25232;
$bronzeText: #fff;
$silverBg: #d3dcde;
$silverText: #8b8e95;
$goldBg: #c5918a;
$goldText: #4a4f4d;

.container {
  display: inline-block;
  font-family: 'SF Mono', 'Menlo', 'Monaco', Courier New, Courier, monospace;
  font-size: 0.9em;
  border: 2px solid;
  border-radius: 1.2px;

  &.bronze {
    span {
      color: $bronzeBg;
      background-color: white;

      &.value {
        color: white;
        background-color: $bronzeBg;
      }
    }

    border-color: $bronzeBg;
  }

  &.silver {
    span {
      color: $silverText;

      &.value {
        background-color: $silverBg;
      }
    }

    border-color: $silverBg;
  }

  &.gold {
    span {
      color: $goldText;

      &.value {
        background-color: $goldBg;
      }
    }

    border-color: $goldBg;
  }

  span {
    padding: 0 2px;
    font-weight: 500;

    &:empty {
      padding: 0;
    }

    &.stars {
      background-color: white;
      border-radius: 1.2px;
    }
  }
}
