.cardlist {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto 2em;
}

.card-area {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: 230px;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 230px);
  }

  @media (min-width: 750px) {
    grid-template-columns: repeat(3, 230px);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 230px);
  }

  @media (min-width: 1250px) {
    grid-template-columns: repeat(5, 230px);
  }
}
