.card {
  background: #405275;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 350px;
  justify-self: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  width: 230px;
}

.link {
  color: #fff;
  display: block;
  height: 100%;
  width: 100%;
}

.hero {
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 200;
}

.mask {
  background: linear-gradient(rgba(1, 1, 1, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgba(0, 0, 0, .9));
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 300;
}

.bottom-panel {
  bottom: 0;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "icon battletag"
    "icon tags";
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 300;

  .player-icon {
    border-radius: 2px;
    grid-area: icon;
    height: 55px;
    width: 55px;
  }

  .battle-tag {
    font-weight: 600;
    grid-area: battletag;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tags {
    grid-area: tags;
  }

  .season-rating {
    border: 1.7px solid;
    border-radius: 3px;
    font-family: 'SF Mono', 'Menlo', 'Monaco', Courier New, Courier, monospace;
    font-size: .9em;
    margin-left: 10px;
    padding: 0 3px;

    &.bronze {
      color: #92493D;
    }

    &.silver {
      color: #BEBEBE;
    }

    &.gold {
      color: #D5BC61;
    }

    &.platinum {
      color: #DDDDDC;
    }

    &.diamond {
      color: #527093;
    }

    &.master {
      color: #F6BF57;
    }

    &.grand-master {
      color: #DAAB5A;
    }
  }
}
