.card {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  background: #405275;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  justify-self: center;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.hero {
  z-index: 200;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask {
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(1, 1, 1, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}

.bottom-panel {
  position: absolute;
  bottom: 0;
  z-index: 300;
  display: grid;
  grid-column-gap: 10px;
  grid-template:
    'icon battletag' 1fr
    'icon tags' 1fr
    / 55px 1fr;
  width: 100%;
  padding: 10px;

  .player-icon {
    grid-area: icon;
    width: 55px;
    height: 55px;
    border-radius: 2px;
  }

  .battle-tag {
    grid-area: battletag;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tags {
    grid-area: tags;
  }

  .season-rating {
    padding: 0 3px;
    margin-left: 10px;
    font-family: 'SF Mono', 'Menlo', 'Monaco', Courier New, Courier, monospace;
    font-size: 0.9em;
    border: 1.7px solid;
    border-radius: 3px;

    &.bronze {
      color: #92493d;
    }

    &.silver {
      color: #bebebe;
    }

    &.gold {
      color: #d5bc61;
    }

    &.platinum {
      color: #dddddc;
    }

    &.diamond {
      color: #527093;
    }

    &.master {
      color: #f6bf57;
    }

    &.grand-master {
      color: #daab5a;
    }
  }
}
