html, body, ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: #8f9d95;
    padding: 1.5em;
}

ul {
    display: block;
    list-style-type: none;
}

img.hero {
    border-radius: 10px;
    /*height: 100%;*/
    height: 400px;
    width: auto;
    z-index: 1;
}

.header{
    margin: 0;
    padding: 0;
    left: 0;
    display: flex;
    color: silver;
    border: #37393A solid;
    background-color: #37393A;
}

.header.h1{
    padding: 1.5em;
}

.card {
    border-radius: 10px;
    max-height: 400px;
    width: auto;
    display: flex;
    background: linear-gradient(#FFA944, #b4c6bc);
    /*background-color: #ffa944;*/
}
*{
    border: black solid;
}
.avatar{
    height: 50%;
    border-radius: 10px;
}

.mask{
    position: relative;
    z-index: 10;
}