.rating {
  display: inline-block;
  height: 22px;
  padding: 0 3px;
  margin-left: 10px;
  font-family: 'SF Mono', 'Menlo', 'Monaco', Courier New, Courier, monospace;
  font-size: 0.9em;
  vertical-align: top;
  border: 1.7px solid;
  border-radius: 3px;

  &.bronze {
    color: #92493d;
  }

  &.silver {
    color: #bebebe;
  }

  &.gold {
    color: #d5bc61;
  }

  &.platinum {
    color: #dddddc;
  }

  &.diamond {
    color: #527093;
  }

  &.master {
    color: #f6bf57;
  }

  &.grand-master {
    color: #daab5a;
  }
}
